*
{
    padding: 0;
    margin: 0;
}
#icon
{
    height: 50px;
    width: 100px;
    color: #154c79;
}
#video
{
    position: fixed;
    height: max-content;
    width: max-content;
    z-index: -1;
    opacity: 0.9;
}
.navbar
{
    height: 25vh;
    width: 100vmax;
    background-color: #21130d;
    position: relative;
    display: flex;
}
#Welcome
{
    margin-top:50px ;
    margin-left: 20px;
    font-family: "Bungee Spice", sans-serif;
    font-size: 65px;
}
.Menubar
{
    margin-left:70px ;
    margin-top: 80px;
    position: relative;
   
}
.Menubar h1
{
    font-family: "Sofia", cursive;
    font-size: 40px;
    transition: color 0.1s;
    color: #eeeee4;
    transition: color 1s;

}
.Menubar h3
{
    font-family: "Sofia", cursive;
    color: #eeeee4;
}
.Menubar .dropdown-list
{
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-list ul li
{
    color: #e28743;
     font-size: 30px;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     text-decoration: none;
     display: none;
     margin-top: 40px;
     position: relative;
     z-index: 1;
}
.Menubar:hover .dropdown-list ul li
{
    display: block;

}

.Menubar h1:hover
{
    color: #e28743;
}
.dropdown-list img
{
    height: 400px;
    width: 400px;
}
#Contact
{
    height: 70px;
    width: 150px;
    color: #eeeee4;
    font-family: "Sofia", cursive;
    font-size: 20px;
    position: relative;
    margin-left: 130px;
}
.main
{
    height:600px;
    width: 1200px;

}
.services a::after
{
    content: "Services we Provide";
    font-size: 70px;
}
.services a:hover::after
{
    content: "•Table Reservation Services •Point of Sale (POS) Systems •Food Delivery Services";
    font-size: 40px;
}
.services{
    height: 500px;
    width: 500px;
    background-color: #c9c6ac;
    opacity: 0.9;
    margin-top: 30px;
    color:#FF3131;
    text-align: center;
    align-content: center;
    font-family: "Tangerine", cursive;
    box-shadow: 16px 16px 16px 16px rgba(0,0,0,0.2);
    transition: all 1s;
    border-radius:50px ;
    border: #21130d;
    border-style:double;
    text-shadow:2px 2px 2px #21130d;
    position: absolute;
    background-image: url("services.jpg");
    background-size: cover;
    
}
.services i
{
    font-size: 70px;
}
.services:hover
{
    height: 450px;
    width: 450px;
    color:#EB5B00 ;
    box-shadow:20px 20px 20px 20px #EB5B00;

}
.meals
{
    height: 500px;
    width: 500px;
    background-color: #c9c6ac;
    opacity: 0.9;
    margin-top: 30px;
    color:#FF3131;
    font-family: "Tangerine", cursive;
    box-shadow: 16px 16px 16px 16px rgba(0,0,0,0.2);
    transition: all 1s;
    border-radius:50px ;
    border: #21130d;
    border-style:double;
    text-shadow:2px 2px 2px #21130d;
    position: absolute;
    background-image: url("services.jpg");
    background-size: cover;   
    margin-left: 1000px; 
    text-align: center;
    align-items: center;
    align-content: center;
}

.meals img
{
    height: 150px;
    width:150px;
} 
.meals a
{
    font-size: 70px;
}

.slider {
    position: relative;
    overflow: hidden;
}
.slides
{
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.slides img
{
    width:100%;
    height: 250px;
    flex-shrink: 0;
}
button
{
    background: rgba(0,0,0,0.5);
    color: white;
    border: none;
    cursor: pointer;
}

.delivery
{
    height: 400px;
    width: 400px;
    background-color: #c9c6ac;
    opacity: 0.9;
    margin-top: 30px;
    color:#FF3131;
    font-family: "Tangerine", cursive;
    box-shadow: 16px 16px 16px 16px rgba(0,0,0,0.2);
    transition: all 1s;
    border: #21130d;
    border-style:double;
    text-shadow:2px 2px 2px #21130d;
    position: absolute; 
    margin-left: 550px; 
    text-align: center;
    align-items: center;
    align-content: center;
    
}
.delivery video
{
    width: 100%;
    height: 100%;
}
.rights
{
    width: 100vmax;
    height: 25vh;
    background-color: #21130d;
    display: flex;
}
.first
{
    height: 25vh;
    width: 400px;
    color: #c9c6ac;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
#second
{
    color: #c9c6ac;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.form
{
       height: 25vh;
       width: 600px;
       display: flex;
       display: flexbox;
      align-items: center;
}
.form input
{
    margin-top: 20px;
    height: 20px;
    width: 150px;
    box-shadow: 4px 4px 4px 4px #e28743;
    font-family: cursive;
    background-color: #21130d;
    color: #eeeee4;
}